<%- include('adminheader') -%>
<div id="reporteVentasRoot">

</div>


<!-- myscripts -->
<script>
  
  
</script>
<script src="../js/loadReporteVentas.js"></script>
<%- include('adminfooter') -%>
