<%- include('adminheader') -%>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PPI</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Lista de Contenido <span class="sr-only">(current)</span></a></li>
        <!--<li><a href="#">Link</a></li>-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Balance <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/maestro/ventaArticulos">Reporte de Ventas por Articulo</a></li>
            <li><a href="/maestro/ventaSector">Reporte de Ventas por Sector</a></li>
            <li><a href="/maestro/utilidadArticulo">Reporte de Utilidades por Articulo</a></li>
            <li><a href="/maestro/utilidadSector">Reporte de Utilidades por Sector</a></li>
            <li><a href="/maestro/inventarioArticulo">Reporte de Inventario por Articulo</a></li>
            <li><a href="/maestro/inventarioSector">Reporte de Inventario por Sector</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Cerrar Sesión</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container content">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center"> Lista de Contenidos de Otras Cuentas </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ul>
        <li class="headListElement">Administrador General
            <ul>
                <li class="minorListElement"><a href="/general"> Reporte de Ventas</a></li>
            </ul>
        </li>
        <li class="headListElement">Control de Inventario
            <ul>
              <li class="minorListElement"><a href="/inventario"> Reporte de Promociones </a></li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- myscripts -->
<script>
</script>
<%- include('adminfooter') -%>
